<div class="background-photo">
  <div class="services-content">
    <div class="services-header">
    <h3>Services</h3>
    </div>
    <div class="services-list">
      <p>
        REGULAR HAIRCUT-$17
        <br>
        KID'S HAIRCUT- $13
        <br>
        SENOIR'S HAIRCUT- 15$
        <br>
        SHAVE -$9
        <br>
        BEARD TRIM -$5
        <br>
        SHAMPOO -$4
      </p>
    </div>
    <div class="appt-booker">
      <div class="appt-content">
        <p>BOOK AN APPOITNMENT NOW 330-123-4567</p>
      </div>
    </div>
  </div>
</div>
