<div class="meet-team-section">
  <div class="team-header">
    <h3>Meet the team</h3>
  </div>
  <div class="team-photo-container">
    <img class="team-photo" src="https://previews.123rf.com/images/milkos/milkos1705/milkos170500065/77105255-team-of-barbers-in-modern-barbershop-four-masculine-male-hairstylists-standing-indoors-at-workplace-.jpg">
  </div>
  <div class="team-photo-caption">
    <h2>Over 75 years of combinend service</h2>
  </div>
  <div class="team-break">
    <hr>
  </div>
</div>
